{
	"useTabs": true,
	"tabWidth": 4,
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"printWidth": 100,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "none",
	"arrowParens": "always"
}